.header-group {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-group {
    // padding: 10px;
}

.icon {
    padding: 5px;
}

.body {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
}

.date-header-grp {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.calendar-icon {
    // height: 20px;
}

.create-btn {
    position: fixed;
    top: 550px;
    left: 960px;
    padding: 12px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: var(--bg-blue);
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 5px 10px 40px black;
}

.create-btn-icon {
    font-size: 20px;
}

.create-btn {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 40px;
    /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 1s;
    transition: max-width 1s;

    .create-btn-icon {
        // margin-right: 8px;
        padding-right: 8px;
        display: flex;
        align-items: center;
    }

    .create-btn-name {
        white-space: nowrap;
        font-size: 20px;
        padding-right: 15px;
    }
}

.create-btn:hover {
    max-width: 200px;
}