.popup-container{
    position: fixed;

    .popup-message{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .popup-btn-grp{
        margin-top: 0px;
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vmax;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}