.date-header-group{
    .date-input{
        padding: 9px 0px;
        display: flex;
        align-items: stretch;
        width: 180px;

        input[type="date"], .submit{
            padding: 7px;
            background-color: var(--color-light);
            border: none;
            outline: none;
            border-radius: 7px;
            font-size: 13px;
        }
        .submit{
            padding: 8px 12px;
        } 
    }
}
::-webkit-calendar-picker-indicator{
    padding: 5px;
    background-color: white;
    border-radius: 3px;
}

.submit{
    margin-left: 10px;
    background-color: white;
}