body{
    font-family: 'Poppins';
    font-size: var(--font-subject);
    background-color: #fdf5ff;
    background-image: url(./Asserts/Background.svg);
    /* background-image: radial-gradient( #bea2e3, #d3b5eb, #eecdff, #faeaff); */
    /* background-image: linear-gradient(to bottom, #9657e9, #c087ef, #e0b7f6, #faeaff); */
    /* background-image: linear-gradient(to bottom, #683ce0c5, #9657e9, #c087ef, #e0b7f6, #faeaff); */
    opacity: 0.8;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button {
    height: 20px;
  }

::-webkit-scrollbar-thumb {
    background: var(--color-dominant);
    border-radius: 30px;
}

::-webkit-scrollbar-track{
    margin-right: 50px;
    background-clip: padding-box;

}


input,button,textarea{
    font-family: 'Poppins';
    font-size: var(--font-subject);
}

h1{ font-size: var(--font-heading1); margin: 10px 0px;} 
h2{ font-size: var(--font-heading2); margin: 10px 0px;} 
h3{ font-size: var(--font-heading3); margin: 10px 0px;} 
h4,h5,h6{ font-size: var(--font-heading4); margin: 10px 0px;}


button{
    font-family: 'Nunito';
    font-weight: bold;
    cursor: pointer;
    /* font-size: var(--font-subject); */
}

:root{
    --color-dominant-solid : #5928dfe3;
    --color-dominant : #5928dfc5;
    --color-light : #FAEAFF;
    --color-white : white;
    --color-black : black;

    --font-heading1 : 32px;
    --font-heading2 : 26px;
    --font-heading3 : 22px;
    --font-heading4 : 20px;
    --font-subject: 14px;
    --gradient : linear-gradient(to right bottom, #5927e5, #9657e9, #c087ef, #e0b7f6, #faeaff); 
    /* background-image: linear-gradient(to right bottom, #5927e5, #9657e9, #c087ef, #e0b7f6, #faeaff); */
}

.align-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}