.align-centre{
    display: flex;
    justify-content: center;
}
.event-form{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    input, textarea{
        border: none;
        border-radius: 5px;
        padding: 5px;
        resize: none;
    }

    input{
        height: 27px;
    }

    .text-input{
        display: flex;
        flex-direction: column;
    }

    .time-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 200px;
    }

    .date-time{
        display: flex;
        flex-direction: column;
    }
    .button-group{
        display: flex;
        justify-content: center;
        gap: 20px;

    }
}


